.strong--minicar__phone__quantity {
    color: black;
    font-size: 11px;
}

.paragraph--text__minicart__vendido__phone {
    color    : #858585;
    font-size: 10px;
    margin: 0;
}

.link--text__minicart__vendido__phone {
    color          : #3cbdaf;
    text-decoration: none;
}