/* .headerRowContainer--header__desktop {
    justify-content: center;
} */

.logoContainer--header-icon {
    padding-right: 0;
}


/*mobile*/

.sizeMobile {
    padding-left: 70px;
}

.logoContainer--bagcart-icon {
    padding-left: 15px;
}

/* .logoLink--header-icon {
    padding-left: 35px;
} */


/*desktop barra navegacion*/

.autoCompleteOuterContainer--search__desktop__input {
    width: 550px;
}

.searchBarIcon--search__desktop__input {
    background: black;
    color: white;
}

/* .logoContainer--truck-icon {
    padding-left: 85px;
    padding-right: 0;
}

.logoContainer--arrow-icon {
    padding-left: 85px;
    padding-right: 0;
}

.logoContainer--phone-icon {
    padding: 0;
} */

