.styledLinkContent--department_name {
    color: black;
}

.submenuWrapper--category-container--isOpen {
    width: 100vw;
}

.styledLinkContent--department_name {
    font-size: 11px;
}

.styledLinkContainer--department_name {
    margin-left: 3rem;
}


