.strong--about-us-contenido-info-content {
    color    : #04c8c9;
    font-size: 18px;

}

.paragraph--about-us-contenido-info-content {
    font-size: 16px;
}

.link--about-us-contenido-info-content {
    text-decoration: none;
    color          : #04c8c9
}