.openIconContainer--minicartmobile {
    padding: 0;
}

.minicartContainer--minicart__desktop :global(.vtex-button){
    background-color: transparent;
    border-color: none;

}

.openIconContainer--minicart__desktop {
    padding-right: 80px;
}

