.styledLinkContent--department_name {
    color: black;
    font-size: 11px;
    margin: 20px;
}

.styledLinkContainer--department_name {
    padding-top: 0; 
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


.submenuWrapper--category-container--isOpen {
    width: 100vw;
}

.submenuWrapper--container__submenu--isOpen{
    width: 1300px;
    margin-left: 30px;
    margin-top: 15px;
}

.submenuContainer--container__submenu {
    position: static; 
}

/* .styledLinkContent--department_name__mujer:hover,
.styledLinkContent--department_name:hover {
    color: white
}

.styledLinkContainer--department_name__mujer:hover,
.styledLinkContent--department_name:hover {
    background: #979797;
    color:;
} */

.menuItem--department_name:hover {
    background: #979797;
}

.menuItem--department_name:hover .styledLinkContent--department_name {
    color: #fff;
}

