.styledLinkContent--department_name .styledLinkContent--department_name__mujer {
    color: black;
    font-size: 11px;
    margin-left: 3rem;
}

/* .styledLinkContent--department_name__mujer {
    padding-left: 200px;
} */


.submenuWrapper--category-container--isOpen {
    width: 100vw;
}

.submenuWrapper--container__submenu--isOpen{
    width: 1300px;
    /* height: 500px; */
}

/* .submenu--container__submenu {
    height: 40px;
} */

.styledLinkContainer--menu-item__mobile {
    padding: 20px 0;
}

.menuItemInnerDiv--menu-item__mobile:hover {
    background: gainsboro;
}

.submenuAccordion--menu-accordion__mobile {
    background: gainsboro;
}

.submenuContainer--container__submenu {
    position: static; 
}

/* .menuContainerNav--Container__menu--desktop {
    width: 100%;
} */
