.logoContainer--header-icon {
    padding-right: 0;
}

/*mobile*/

.sizeMobile {
    padding-left: 70px;
}

.logoContainer--bagcart-icon {
    padding-left: 15px;
}

/*desktop barra navegacion*/

.autoCompleteOuterContainer--search__desktop__input {
    width: 550px;
}

.searchBarIcon--search__desktop__input {
    background: black;
    color     : white;
}

.logoContainer--marcas-icon-drawer {
    padding-left: 20px;
}