.logoContainer--header-icon {
    padding-right: 0;
}

/*desktop barra navegacion*/

.autoCompleteOuterContainer--search__desktop__input {
    width: 550px;
}

.searchBarIcon--search__desktop__input {
    background: black;
    color     : white;
}

.autoCompleteOuterContainer--search__desktop__input :global(.vtex-input-prefix__group) {
    height: 30px;
}

.logoContainer--marcas-icon-drawer {
    padding-left: 20px;
}


/*mobile*/


.logoLink--header-icon {
    padding-left: 70px;
}

.logoImage--logo-mobile {
    padding-left: 50px;
}

.logoContainer--bagcart-icon {
    padding-left: 15px;
}

.searchBarIcon--search :global(.vtex-store-components-3-x-searchIcon) {
    color: rgb(133, 133, 133)
}