.styledLinkContent--department_name,
.styledLinkContent--department_name__mujer {
    color: black;
    font-size: 11px;
    margin-left: 3rem;
}

.styledLinkContainer--menu-item__mobile {
    padding: 20px 0;
}

.styledLinkContainer--department_name {
    margin-left: 0px; 
    margin-right: 0px;
}

.submenuWrapper--category-container--isOpen {
    width: 100vw;
}

.submenuWrapper--container__submenu--isOpen{
    width: 1300px;
    margin-left: 30px;
    margin-top: 15px;
}


.menuItemInnerDiv--accordion-active:hover {
    background: gainsboro;
}

.submenuAccordion--menu-accordion__mobile {
    background: gainsboro;
}

.submenuContainer--container__submenu {
    position: static; 
}

