.flexRowContent--main-header-mobile {
    height: 40px;
}

.flexRowContent--main-header-mobile {
    background: black;
}

.flexRow--search-main-phone {
    background: black;
}

.flexRowContent--main-header-mobile {
    align-items: center;
}

/* .flexRowContent {
    align-items: center;
} */

.flexRow--header__anuncios_row {
    background: #ececec;
}