.paragraph--title__menu {
    font-size: 8px;
    padding  : 2px 0;

}

.link--title__menu {
    color          : black;
    text-decoration: none;
    font-size      : 12px;
    padding        : 2px 0;
    height         : 10%;
    width          : 10%;
}

.link--text__description {
    color          : black;
    text-decoration: none;
    font-size      : 12px;
    padding        : 2px 0;
    height         : 10%;
    width          : 10%;
}

.link--text__description_ofer_nove {
    color          : red;
    text-decoration: none;
    font-size      : 12px;
    padding        : 2px 0;
    height         : 10%;
    width          : 10%;
}

.link--text__description__anuncio {
    color          : black;
    text-decoration: none;
    font-size      : 11px;
}

.link--text__description__anuncio__ocho {
    color          : black;
    text-decoration: none;
    font-size      : 11px;
}

.wrapper--phone_text_welcome {
    color    : white;
    font-size: 14px;
    padding  : 16px;
}

.wrapper--drawer__text--finish {
    font-size: 14px;
}

.container--text__description {
    height: 30px;
}

.container--text__description_ofer_nove {
    height: 30px;
}
