.drawerHeader--button-close-drawer {
    width          : 100%;
    justify-content: left;
    background     : #444;
    color          : white;

}

.childrenContainer--drawer__phone :global(.vtex-menu-2-x-menuContainerNav){ 
    width: 100%;
}