.minicartTitle {
  visibility: hidden;
  font-size : 0;
}

.minicartTitle::before {
  content: "CARRITO DE COMPRAS - PRODUCTOS DAFITI";
  display   : block;
  font-size : 12px;
  visibility: initial;
  
}

.minicartTitle--container__minicart__full {
  font-size: 15px; 
  padding-top: 20px;
  padding-bottom: 20px;
}