.styledLinkContainer--menu-item__mobile {
    padding: 20px 0;
}

/* .menuItemInnerDiv--accordion-active:hover {
    background: gainsboro;
} */

/* .submenuAccordion--menu-accordion__mobile {
    background: gainsboro;
} */

.menuItem--menu-item__mobile--isOpen {
    background: gainsboro; 
}
