.wrapper--phone_text_welcome {
    color    : white;
    font-size: 14px;
    padding  : 16px;
}

.wrapper--drawer__text--finish {
    font-size: 14px;
}

/* .paragraph--text__carrito__vacio__phone {
    color: #04c8c9;
} */